/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 1.2em;
    padding: 0px;
    margin: 0px 0px 30px 0px;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
    /*color: #ffffff;*/
}
h3{
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 300;
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
}

.homePageSection {
    position: relative;
    height: 80vh;
    min-height: 750px;
    max-height: 900px;
    overflow: auto;
    color: #ffffff;
}

.centered {
    width: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
}

#logo {
    width: 60px;
    padding: 20px;
    margin: 0px 0px 0px 5%;
    background-color: #eeeeee;
}

#menu {
    position: absolute;
    right: 0;
    top: -320px;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 800;
    text-align: center;
    color: #ffffff;
    padding: 50px 0px 50px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menu.is-active {
    -webkit-transform: translateY(320px);
    -ms-transform: translateY(320px);
    -o-transform: translateY(320px);
    transform: translateY(320px);
}

#footer {
    background-color: #343434;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    padding-top: 50px;
    color: #ffffff;
    height: 20vh;
    min-height: 250px;
    max-height: 300px;
}
#footer a {
    color: #ffffff;
    font-weight: 300;
    opacity: 0.9;
}
#social {
    width: 450px;
    margin: 10px auto 0 auto;
}
#social img{
    width: 17%;
    margin: 15px;
}
#legal {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.4em;
}

/* ==========================================================================
   Menu - Hamburger Button
   ========================================================================== */

.col {
    display: block;
    float:left;
    position: absolute;
    right: 5%;
    top: 20px;
    margin: 1% 0 1% 1.6%;
    z-index: 1000;
    color: #ecf0f1;
}

.hamburger .line{
    width: 40px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -o-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

/* ==========================================================================
   About
   ========================================================================== */

.aboutSection {
    position: relative;
    height: 100vh;
    min-height: 750px;
    max-height: 1200px;
    overflow: auto;
}

#about {
    background-color: #343434;
}

#me {
    float: right;
    max-width: 600px;
}
#me img {
    width: 100%;
    height: auto;
}
.aboutContent {
    position: relative;
    padding-top: 10vh;
    left: 5%;
    width: 90%;
    color: #ffffff;
}
.aboutContent a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 300;
    opacity: 0.8;
    // margin: 0;
    // padding-top: 50px;
}
.aboutContent h2 {
    max-width: 750px;
}

#aboutLegal {
    margin-top: 10%;
    text-align: center;
    color: #ffffff;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.4em;
}

/* ==========================================================================
   Contact
   ========================================================================== */
#contactForm {
    width: 40%;
    margin: 0 auto 0 auto;
    color: #ffffff;
    text-align: center;
}
#contactForm input {
    width: 40%;
    margin: 0 6% 0 0;
    padding: 10px;
    font-size: 12px;
    background-color: #343434;
    border: 0px;
    border-bottom: 1px solid #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 300;
    opacity: 0.7;
}
#contactForm textarea {
    width: 96%;
    height: 300px;
    margin: 30px 0px 10px 0px;
    padding: 10px;
    background-color: #262626;
    border: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    opacity: 0.7;
}

#contactForm button {
    border-radius: 5px;
    border: 0px;
    width: 20%;
    color: #000000;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9em;
    font-weight: 300;
    background-color: #ffffff;
}

#contactForm #social {
    margin-top: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #343434 inset !important;
    -webkit-text-fill-color: #ffffff;
}

/* ==========================================================================
   Slides
   ========================================================================== */

#slide0 {
    background-color: #343434;
    background-image: url(../img/features/arm-hd.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}
    #hook {
        font-size: 1em;
        max-width: 750px;
        margin: 20px 0px 30px 0px;
        font-weight: normal;
    }
    #cta {
        color: #ffffff;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 0%;
        left: 50%;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1em;
    }
    #cta img {
        margin-top: 20px;
        width: 40px;
    }

#slide1 {
    background-color: #8275b4;
    background-image: url(../img/features/placeiq-hd.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
    .number {
        position: absolute;
        top: 5%;
        left: 5%;
        color: #ffffff;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        font-weight: 100;
        letter-spacing: 0.1em;
    }
    .slideContent {
        position: absolute;
        bottom: 10%;
        left: 5%;
        width: 30%;
        color: #ffffff;
    }
    .slideContent .subtitle {
        font-family: 'Roboto Slab', serif;
        font-size: 1.2em;
        font-weight: 300;
        color: #ffffff;
        opacity: 0.5;
    }
    .slideContent .description {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.9em;
        font-weight: 300;
        color: #ffffff;
        padding-top: 20px;
    }
    .slideContent .learnmore {
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        font-weight: 300;
        color: #ffffff;
        opacity: 0.5;
        padding-top: 40px;
    }

#slide2 {
    background-color: #1ea4a7;
    background-image: url(../img/features/eocreport-hd.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#slide3 {
    background-color: #868278;
    background-image: url(../img/features/foxandbear-hd.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}
#slide4 {
    background-color: #306589;
    background-image: url(../img/features/watches-hd.jpg);
    background-position: 85% bottom;
    background-repeat: no-repeat;
}
#slide5 {
    background-color: #4E556B;
    background-image: url(../img/features/geomarker-hd.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}
#slide6 {
    background-color: #1AB2BE;
    background-image: url(../img/features/mobileads-hd.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1280px) {
    .homePageSection {
        height: 700px;
    }
    #slide0 {
        background-image: url(../img/features/arm-md.jpg);
    }
    #slide1 {
        background-image: url(../img/features/placeiq-md.png);
    }
    #slide2 {
        background-image: url(../img/features/eocreport-md.png);
    }
    #slide3 {
        background-image: url(../img/features/foxandbear-md.jpg);
    }
    #slide4 {
        background-image: url(../img/features/watches-md.jpg);
    }
    #slide5 {
        background-image: url(../img/features/geomarker-md.jpg);
    }
    #slide6 {
        background-image: url(../img/features/mobileads-md.jpg);
    }
    .aboutContent {
        position: relative;
        padding-top: 0;
        left: 5%;
    }
    .aboutContent h1 {
        margin-top: 20px;
    }
    .aboutContent h2 {
        max-width: none;
    }
    #me {
        float: none;
        width: 100%;
        margin: 0;
        max-width: none;
        text-align: center;
    }
    #me img {
        width: 50%;
        height: auto;
    }
    #hook {
        max-width: none;
    }

@media screen and (max-width: 980px) {
    h1 {
        font-size: 3em;
        line-height: 1.3em;
    }
    #slide0 h2 {
        font-size: 1.5em;
    }
    #menu h2 {
        font-size: 1.5em;
    }
    .homePageSection {
        height: 900px;
    }
    #logo {
        margin: 0px 0px 0px 10%;
        width: 50px;
        padding: 10px;
    }
    #menu {
        height: 170px;
    }
    .col {
        right: 10%;
        top: 10px;
    }
    .hamburger .line{
        width: 30px;
        height: 2px;
    }
    #hamburger-1.is-active .line:nth-child(1){
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3){
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }
    #hook {
        font-size: 0.9em;
    }
    .number {
        left: 10%;
    }
    .slideContent {
        position: absolute;
        top: 12%;
        left: 10%;
        width: 80%;
    }
    #slide0 {
        background-position: center bottom;
        background-image: url(../img/features/arm-sm.jpg);
    }
    #slide1 {
        background-position: right 125%;
    }
    #slide2 {
        background-position: right bottom;
    }
    #slide3 {
        background-position: right bottom;
    }
    #slide4 {
        background-position: center bottom;
    }
    #slide5 {
        background-position: right bottom;
    }
    #slide6 {
        background-position: center 400px;
    }
}

@media screen and (max-width: 736px) {

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin: 0px 0px 15px 0px;
    }
    .homePageSection {
        height: 600px;
    }
    .centered {
        top: 45%;
    }
    #hook {
        font-size: 0.9em;
        line-height: 1.8em;
        margin-top: 20px;
    }
    .number {
        left: 10%;
    }
    .slideContent {
        position: absolute;
        top: 12%;
        left: 10%;
        width: 80%;
    }
    .slideContent .description {
        font-size: 0.9em;
    }
    .slideContent .learnmore {
        font-size: 1.3em;
        padding-top: 18px;
    }
    #slide0{
        height: 900px;
    }
    #slide1 {
        background-image: url(../img/features/placeiq-sm.png);
        background-position: right 120%;
    }
    #slide2 {
        background-image: url(../img/features/eocreport-sm.png);
    }
    #slide3 {
        background-image: url(../img/features/foxandbear-sm.jpg);
    }
    #slide4 {
        background-image: url(../img/features/watches-sm.jpg);
    }
    #slide5 {
        background-image: url(../img/features/geomarker-sm.jpg);
    }
    #slide6 {
        background-image: url(../img/features/mobileads-sm.jpg);
    }
    #social {
        width: 320px;
    }
    #social img{
        width: 15%;
        margin: 12px;
    }
    #footer a {
        font-size: 0.8em;
    }
    .aboutContent #hook {
        line-height: 2em;
    }

}

@media screen and (max-width: 360px) {
    .homePageSection {
        height: 600px;
    }
    .centered {
        top: 40%;
    }
    #hook {
        font-size: 0.8em;
    }
    #slide0 {
        background-image: url(../img/features/arm-xs.jpg);
        height: 770px;
    }
    #slide2 {
        background-image: url(../img/features/eocreport-xs.png);
    }
    #slide3 {
        background-image: url(../img/features/foxandbear-xs.jpg);
    }
    #slide4 {
        background-image: url(../img/features/watches-xs.jpg);
    }
    #slide5 {
        background-image: url(../img/features/geomarker-xs.jpg);
    }
    #slide6 {
        background-image: url(../img/features/mobileads-xs.jpg);
    }
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
