#topAreaPlaceIQ {
    background-image: url(../img/items/placeiq/header.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #6759a3;
    height: 80vh;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.4em;
    font-size: 2vw;
}